@media only screen and (min-width: 700px) {
  .adprofile-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .profile-container {
    width: 372px;
    height: 555px;
    position: relative;
  }

  .profile-container::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
    background-image: url("../../assets/image/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .profile-details {
    opacity: 1;
    position: relative;
    color: #8a252c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    top: 18%;
  }

  .name-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .name-details h1 {
    font-size: 25px;
    color: #8a252c;
    font-weight: 700;
  }

  .name-details span {
    font-size: 19px;
    font-weight: 500;
    color: #8a252c;
  }

  .profile-details button {
    border-radius: 80px;
    color: #ffffff;
    width: 114px;
    height: 31px;
    font-size: 20px;
    font-weight: 500;
    background-color: #8a252c;
    border: none;
  }

  .email-design {
    font-size: 20px;
    font-weight: bold;
    color: #8a252c;
    margin-bottom: 50px;
  }

  .password-container {
    width: 600px;
    height: 250px;
    border-radius: 36px;
    background-color: #fdfcd6;
    padding: 30px;
  }

  .password-container form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .password-container label {
    font-size: 20px;
    color: #8a252c;
    font-weight: 600;
    width: 180px;
  }

  .password-container div {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .password-container input {
    width: 340px;
    height: 40px;
    border-radius: 20px;
    border: none;
  }

  .password-container h1 {
    font-size: 22px;
    font-weight: bold;
    color: #8a252c;
  }

  .btn-container {
    display: flex;
    justify-content: end;
    width: 550px;
  }

  .edit-btn {
    font-size: 20px;
    font-weight: bold;
    color: #8a252c;
    background-color: transparent;
    border: none;
  }

  .update-btn {
    width: 107px;
    height: 39px;
    background-color: #9e4c4a;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
}

@media (min-device-width: 320px) and (max-width: 699px) {
  .adprofile-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .profile-container {
    width: 372px;
    height: 555px;
    position: relative;
  }

  .profile-container::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../../assets/image/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .profile-details {
    opacity: 1;
    position: relative;
    color: #8a252c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .name-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .name-details h1 {
    font-size: 25px;
    color: #8a252c;
    font-weight: 700;
  }

  .name-details span {
    font-size: 19px;
    font-weight: 500;
    color: #8a252c;
  }

  .profile-details button {
    border-radius: 80px;
    color: #ffffff;
    width: 114px;
    height: 31px;
    font-size: 20px;
    font-weight: 500;
    background-color: #8a252c;
    border: none;
  }

  .email-design {
    font-size: 20px;
    font-weight: bold;
    color: #8a252c;
    margin-bottom: 50px;
  }

  .password-container {
    width: 350px;
    height: 250px;
    border-radius: 36px;
    background-color: #fdfcd6;
    padding: 30px;
    margin-bottom: 20px;
  }

  .password-container form {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .password-container label {
    font-size: 20px;
    color: #8a252c;
    font-weight: 600;
    width: 180px;
  }

  .password-container div {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .password-container input {
    width: 340px;
    height: 40px;
    border-radius: 20px;
    border: none;
  }

  .password-container h1 {
    font-size: 22px;
    font-weight: bold;
    color: #8a252c;
  }

  .btn-container {
    display: flex;
    justify-content: end;
    width: 350px;
  }

  .edit-btn {
    font-size: 20px;
    font-weight: bold;
    color: #8a252c;
    background-color: transparent;
    border: none;
  }

  .update-btn {
    width: 107px;
    height: 39px;
    background-color: #9e4c4a;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
}
