@media only screen and (min-width: 700px) {
    .entrymain-container {
      min-width: 100%;
      max-width: 100%;
      min-height: 100vh;
      height: 100%;
      background-image: linear-gradient(
        0deg,
        hsl(43deg 91% 73%) 0%,
        hsl(49deg 88% 80%) 50%,
        hsl(58deg 93% 89%) 100%
      );
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .entrysub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin-top: 3%;
    }
  
    .entrysub-container span {
      font-size: 15px;
      font-weight: lighter;
      color: #8a252c;
      margin-top: 30px;
    }
  }
  
  @media (min-device-width: 320px) and  (max-width: 699px){
    .entrymain-container {
      min-height: 100vh;
      max-height: 100%;
      width: 100%;
      background-image: linear-gradient(
        0deg,
        hsl(43deg 91% 73%) 0%,
        hsl(49deg 88% 80%) 50%,
        hsl(58deg 93% 89%) 100%
      );
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .entrysub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 8%;
    }
  
    .entrysub-container span {
      font-size: 15px;
      font-weight: lighter;
      color: #8a252c;
      margin-top: 30px;
    }
  }
  