.loadingbarpage2 {
  width: 100%;
  position: relative;
  height: 729px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #8a252c;
  font-family: var(--font-montserrat);
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 832px;
  object-fit: cover;
}

.bar-gray {
  position: absolute;
  top: calc(50% + 45px);
  left: 645px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12) inset;
  border-radius: 50px;
  background-color: #d9d9d9;
  width: 296px; /* Initially, the bar is full */
  height: 18px;
}

.bar-red {
  position: absolute;
  top: calc(50% + 48px);
  left: 648px;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25) inset;
  border-radius: 50px;
  background-color: #8a252c;
  height: 12px;
  transition: width 0.1s linear; /* Smooth animation for width change */
}

.wildcat-icon {
  position: absolute;
  top: 130px;
  left: 655px;
  width: 274px;
  height: 245px;
  object-fit: cover;
}

.intro-line {
  position: absolute;
  top: 450px;
  left: 720px;
  display: inline-block;
  font-weight: 500;
  width: 172px;
  height: 23px;
}
