.ws-contact-us {
    width: 100%;
    position: relative;
    height: 729px;
    overflow: hidden;
    text-align: left;
    color: #8a252c;
    font-family: var(--font-montserrat);
}

.get-started {
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 1150px;
    font-weight: 600;
    font-size: 20px;
    width: 144px;
    height: 23px;
    cursor: pointer;
}

.ContactUs-title {
    position: absolute;
    display: inline-block;
    top: 165px;
    left: 340px;
    font-size: 25px;
    width: 170px;
    height: 30px;
}

.cinfo {
    position: absolute;
    display: inline-block;
    top: 205px;
    left: 340px;
    font-size: 18px;
    font-weight: 400;
    width: 216px;
    height: 22px;
}

.phone {
    position: absolute;
    display: inline-block;
    left: 420px;
    top: 290px;
    font-weight: 600;
    font-size: 20px;
    width: 78px;
    height: 21px;
}

.phone-num {
    top: 320px;
    width: 128px;
    position: absolute;
    left: 420px;
    display: inline-block;
    height: 21px;
}

.phone-bg {
    position: absolute;
    top: 290px;
    left: 340px;
    border-radius: 50%;
    background-color: #8A252C;
    width: 64px;
    height: 60px;
}

.phone-icon {
    position: absolute;
    top: 305px;
    left: 355px;
    width: 36px;
    height: 33px;
    overflow: hidden;
}

.email {
    position: absolute;
    top: 400px;
    left: 420px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    width: 67px;
    height: 21px;
}

.email-mail {
    top: 430px;
    width: 128px;
    position: absolute;
    left: 420px;
    display: inline-block;
    height: 21px;
}

.email-bg {
    position: absolute;
    top: 400px;
    left: 340px;
    border-radius: 50%;
    background-color: #8a252c;
    width: 64px;
    height: 60px;
}

.email-icon {
    position: absolute;
    top: 415px;
    left: 355px;
    height: 33px;
    width: 36px;
    overflow: hidden;
}

.location {
    position: absolute;
    top: 520px;
    left: 420px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    width: 67px;
    height: 21px;
}

.location-name {
    position: absolute;
    top: 555px;
    left: 420px;
    display: inline-block;
    width: 233px;
    height: 47px;
}

.location-bg {
    position: absolute;
    top: 515px;
    left: 340px;
    border-radius: 50%;
    background-color: #8a252c;
    width: 64px;
    height: 60px;
}

.location-icon {
    position: absolute;
    top: 528px;
    left: 354px;
    width: 38px;
    height: 36px;
    overflow: hidden;
}

.Lets-title {
    position: absolute;
    left: 850px;
    display: inline-block;
    top: 165px;
    font-size: 25px;
    width: 147px;
    height: 30px;
}

.feel-free-to {
    position: absolute;
    left: 850px;
    display: inline-block;
    top: 205px;
    font-size: 18px;
    font-weight: 400;
    width: 293px;
    height: 22px;
}

.ynInput,
.eInput,
.pnInput,
.mInput {
    position: absolute;
    top: 290px;
    left: 850px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #8a252c;
    box-sizing: border-box;
    width: 347px;
    height: 39px;
    padding-left: 15px; /* Add this line */
}

.eInput {
    top: 350px;
}

.pnInput {
    top: 410px;
}

.mInput {
    top: 480px;
    height: 106px;
}

.submit-button {
    position: absolute;
    top: 610px;
    left: 1105px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    mix-blend-mode: normal;
}
