.logged-out {
    width: 100%;
    position: relative;
    height: 729px;
    overflow: hidden;
    text-align: left;
    color: #8a252c;
    font-family: var(--font-montserrat);
}


.wildcatbye {
    position: absolute;
    top: 200px;
    left: 955px;
    width: 156px;
    height: 149px;
    object-fit: cover;
}
 
  
.OnProwl {
    position: absolute;
    top: 380px;
    left: 890px;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    width: 335px;
    height: 37px;
}
  

.ReturnHomeContainer {
    position: absolute;
    top: 450px;
    left: 860px;
    width: 347px;
    height: 39px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
