/* AdContainer.css */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  background-color: #fefdd9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  margin-top: 20px; /* Adds space between AdPost and AdPostContainer */
  margin-bottom: 20px; /* Adds space between each post-card */
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.name-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.name-container h5 {
  font-size: 16px;
  font-weight: 500;
  color: #8a252c;
}

.name-container small {
  font-size: 12px;
  color: #777;
  margin-left: 40px;
}

.card-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-contents p {
  font-size: 14px;
  color: #333;
}

.card-contents img {
  max-width: 70%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 10px;
}

.footer-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-comments {
  display: flex;
  align-items: center;
}

.footer-comments button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #8a252c;
  font-size: 16px;
  font-weight: bold;
}

/* Responsive styles */
@media only screen and (min-width: 700px) {
  .post-card {
    width: 612px; /* Adjusted width to match AdPost */
  }

  .card-container {
    width: 550px;
  }
}

@media (min-device-width: 320px) and (max-width: 699px) {
  .post-card {
    width: 450px;
  }

  .card-container {
    width: 400px;
  }
}

/* AdContainer.css */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.confirmation-dialog {
  text-align: center;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: #f44336;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}


