/* AdPost.css */
@media only screen and (min-width: 700px) {
  .post-container {
    width: 612px;
    height: auto;
    display: flex;
    position: static;
    border-radius: 10px;
    background-color: #fdfdd7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  }

  .logo-container {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
  }

  .post-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .post-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .post-form form input {
    border: none;
    width: 460px;
    height: 35px;
    border-radius: 20px;
    border-color: #8a252c;
    padding-left: 10px;
    outline-style: none;
    margin-top: 20px;
  }

  .post-form form input::placeholder {
    color: #8a252c;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
  }

  .post-form form button {
    width: 53px;
    height: 25px;
    border-radius: 10px;
    background-color: #8a252c;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }

  .post-subcontainer {
    width: 460px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .post-subcontainer-icons {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .image-preview {
    margin-top: 10px;
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview img {
    max-width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (min-device-width: 320px) and (max-width: 699px) {
  .post-container {
    width: auto;
    height: auto;
    display: flex;
    position: static;
    border-radius: 10px;
    background-color: #fdfdd7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  }

  .logo-container {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
  }

  .post-form {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .post-form form {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .post-form form input {
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border-color: #8a252c;
    padding-left: 10px;
    outline-style: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .post-form form input::placeholder {
    color: #8a252c;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
  }

  .post-form form button {
    width: 53px;
    height: 25px;
    border-radius: 10px;
    background-color: #8a252c;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }

  .post-subcontainer {
    width: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .post-subcontainer-icons {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .image-preview {
    margin-top: 10px;
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview img {
    max-width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}