@media only screen and (min-width : 700px){
    .ldname-container {
      height: 100px;
      width: 800px;
      margin-top: 30px;
      display: flex;
    }
    
    .ld-icon {
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .ld-names {
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 30px;
      margin-right: 50px;
    }
    
    .ld-name-container {
      width: 100%;
      height: 60px;
      background: #ffffff;
      background: linear-gradient(135deg, #ffffff, #ffe39b);
      display: flex;
      align-items: center;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    
    .ld-name{
        font-size: 25px;
        color: #8A252C;
        font-weight: 500;
        width: 100%;
        padding-left: 20px;
    }
    
    .ld-score{
        background-color: #8A252C;
        border-radius: 100%;
        height: 100%;
        width: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F6C301;
        font-size: 20px;
        font-weight: 500;
    }  
  }
  
  @media (min-device-width: 320px) and  (max-width: 699px){
    .ldname-container {
      height: 100px;
      width: 400px;
      margin-top: 30px;
      display: flex;
    }
    
    .ld-icon {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }
    
    .ld-names {
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 30px;
      margin-right: 20px;
    }
    
    .ld-name-container {
      width: 100%;
      height: 60px;
      background: #ffffff;
      background: linear-gradient(135deg, #ffffff, #ffe39b);
      display: flex;
      align-items: center;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    
    .ld-name{
        font-size: 20px;
        color: #8A252C;
        font-weight: 500;
        width: 100%;
        padding-left: 20px;
    }
    
    .ld-score{
        background-color: #8A252C;
        border-radius: 100%;
        height: 100%;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F6C301;
        font-size: 20px;
        font-weight: 500;
    }  
  }