.modal-container button {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .publish-btn button {
    font-size: 16px;
    font-weight: bold;
    background-color: #8a252c;
    border: none;
  }
  .closebtn-design img {
    cursor: pointer;
    background-color: #8a252c;
  }
  
  .closebtn-design {
    background: transparent;
    border: none;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  
  .successful-container {
    width: 586px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .successful-btn {
    display: flex;
    gap: 30px;
    border-radius: 80px;
    margin-top: 30px;
  }
  
  .successful-btn button {
    width: 210px;
    height: 30px;
    background-color: #8a252c;
    color: #ffffff;
    border: none;
    border-radius: 80px;
  }
  
  .successful-container img {
    width: 100px;
    height: 100px;
  }
  
  .successful-container h4 {
    font-size: 20px;
    font-weight: 600px;
    color: #8a252c;
  }
  
  .successful-container p {
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600px;
    color: #8a252c;
    margin-right: 50px;
  }
  