@media only screen and (min-width: 700px) {
    .respond-btn {
    }
  
    .respond-btn button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: #8a252c;
      font-weight: bold;
    }
  
    .closebtn-design img {
      cursor: pointer;
      border-radius: 1000px;
      background-color: #8a252c;
    }
  
    .closebtn-design {
      background: transparent;
      border: none;
      width: 100%;
      display: flex;
      justify-content: start;
    }
  
    .entrychecking-container {
      width: 586px;
      height: 111px;
      padding-left: 15px;
    }
  
    .entrychecking-container h4 {
      font-size: 16px;
      font-weight: 600px;
      color: #8a252c;
    }
  
    .entrychecking-container p {
      padding-left: 30px;
      font-size: 16px;
      font-weight: 600px;
      color: #8a252c;
      margin-right: 50px;
    }
  
    .approval-container {
      display: flex;
      justify-content: center;
      gap: 150px;
    }
  
    .approval-design {
      display: flex;
      justify-content: center;
      gap: 100px;
    }
  
    .publish-btn {
      display: flex;
      justify-content: center;
    }
  
    .publish-btn button {
      width: 130px;
      height: 33px;
      background-color: #8a252c;
      color: #ffffff;
      font-size: 20px;
      border-radius: 10px;
    }
  }
  
  @media (min-device-width: 320px) and (max-width: 699px) {
    .respond-btn {
    }
  
    .respond-btn button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: #8a252c;
      font-weight: bold;
    }
  
    .closebtn-design img {
      cursor: pointer;
      border-radius: 1000px;
      background-color: #8a252c;
    }
  
    .closebtn-design {
      background: transparent;
      border: none;
      width: 100%;
      display: flex;
      justify-content: start;
    }
  
    .entrychecking-container {
      width: 330px;
      height: 111px;
      padding-left: 15px;
    }
  
    .entrychecking-container h4 {
      font-size: 16px;
      font-weight: 600px;
      color: #8a252c;
    }
  
    .entrychecking-container p {
      padding-left: 30px;
      font-size: 16px;
      font-weight: 600px;
      color: #8a252c;
      margin-right: 50px;
    }
  
    .approval-container {
      display: flex;
      justify-content: center;
      gap: 150px;
    }
  
    .approval-design {
      display: flex;
      justify-content: center;
      gap: 100px;
    }
  
    .publish-btn {
      display: flex;
      justify-content: center;
    }
  
    .publish-btn button {
      width: 130px;
      height: 33px;
      background-color: #8a252c;
      color: #ffffff;
      font-size: 20px;
      border-radius: 10px;
    }
  }
  