.ws-leaderboards {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #fdfbc9 54.1%, #f9d67b);
    height: 841px;
    overflow: hidden;
    text-align: left;
    color: #8a252c;
    font-family: var(--font-montserrat);
}

.LeaderboardsTitle {
    position: absolute;
    top: 71px;
    left: 660px;
    width: 276px;
    height: 231px;
    object-fit: cover;
}

.WSLeaderboardsBox {
    position: absolute;
    top: 324px;
    left: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 789px;
    height: 435px;
}
  
.WSLUser1 {
  position: absolute;
  top: 373px;
  left: 450px;
  width: 90px;
  height: 87px;
  object-fit: cover;
}
.WSLUser2 {
    position: absolute;
    top: 503px;
    left: 450px;
    width: 90px;
    height: 86.3px;
    object-fit: cover;
}
.WSLUser3 {
    position: absolute;
    top: 636px;
    left: 450px;
    width: 90px;
    height: 86.3px;
    object-fit: cover;
}

.WSLGradient1,
.WSLGradient2,
.WSLGradient3 {
  position: absolute;
  top: 391px;
  left: 570px;
  border-radius: 0 500px 500px 0;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.76) 12%,
      rgba(255, 241, 205, 0.81) 32%,
      rgba(255, 234, 180, 0.83) 65.5%,
      rgba(255, 227, 155, 0.85) 88%
    );
  width: 577px;
  height: 50px;
}
.WSLGradient2,
.WSLGradient3 {
    top: 523px;
}
.WSLGradient3 {
    top: 655px;
}

.WSLNUser2,
.WSLNUser1,
.WSLNUser3 {
    position: absolute;
    top: 404px;
    left: 595px;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    width: 233px;
    height: 23px;
}
.WSLNUser2 {
    top: 535px;
}
.WSLNUser3 {
    top: 665px;
}


.WSLCircle1 {
    position: absolute;
    top: 391px;
    left: 1100px;
    border-radius: 50%;
    background-color: #8a252c;
    width: 52.8px;
    height: 50px;
}
.WSLCircle2 {
    position: absolute;
    top: 523px;
    left: 1100px;
    border-radius: 50%;
    background-color: #8a252c;
    width: 52.8px;
    height: 50px;
}
.WSLCircle3 {
    position: absolute;
    top: 655px;
    left: 1100px;
    border-radius: 50%;
    background-color: #8a252c;
    width: 52.8px;
    height: 50px;
}

.WSLUser1Points {
    position: absolute;
    top: 406px;
    left: 1109px;
    font-size: 15px;
    font-weight: 600;
    color: #F6C301;
    display: inline-block;
    width: 41px;
    height: 18px;
}
.WSLUser2Points {
    position: absolute;
    top: 538px;
    left: 1105px;
    font-size: 15px;
    font-weight: 600;
    color: #F6C301;
    text-align: center;
    display: inline-block;
    width: 41px;
    height: 18px;
}
.WSLUser3Points {
    position: absolute;
    top: 670px;
    left: 1105px;
    font-size: 15px;
    font-weight: 600;
    color: #F6C301;
    text-align: center;
    display: inline-block;
    width: 41px;
    height: 18px;
}
  


  

  
 
  