.pop-up-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    width: 421px;
    height: 209px;
    text-align: center;
    color: #8a252c;
    font-family: var(--font-poppins);
}

.PUConfirm {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: white;
  width: 467px;
  height: 249px;
}

.PUConfirmPic {
    position: absolute;
    top: 81px;
    left: 184px;
    width: 100px;
    height: 88px;
    object-fit: cover;
}

.PUQuestion {
  position: absolute;
  top: 23px;
  left: 116px;
  font-weight: 600;
  font-size: 20px;
  color: #8a252c;
  display: inline-block;
  width: 240px;
}


.PUCReportButton {
    position: absolute;
    top: 165px;
    left: -30px;
    text-align: center;
    width: 115px;
    height: 35px;
}

.PUCCancelButton {
  position: absolute;
  top: 165px;
  left: 45px;
  text-align: center;
  width: 115px;
  height: 35px;
}


/* PopUpConfirm.css */
.popup-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
  }
  
  .popup-content {
    position: relative;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .overlay-content {
    position: relative;
  }
  
